@media (max-width: 2000px), (max-height: 1200px) {
  .border-text {
    display: none;
  }
}

html, body {
    width: 100vw;
    height: 100vh;
    background: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.border-text {
    color: #fff;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    position: fixed;
    padding-top: 20px;
    top: 0;
    width: 100vw;
    text-align: center;
    pointer-events: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#wrapper {
    position: relative;
    width: 1920px;
    height: 1080px;
    z-index: 1;
    margin: auto;
    overflow: hidden;
    background-image: url('images/background.gif');
    background-size: cover;
    background-position: center;
    box-shadow:
        0 0 0 8px #222,
        0 0 0 16px #555;
}

.github {
    background-color: transparent;
    margin: auto;
    border: transparent;
    position: absolute;
    right: 176px;
    top: 9px;
}

.github:hover {
    cursor: url(cursors/ghright.png), auto;
}

.linkedin {
    border: transparent;
    background-color: transparent;
    position: absolute;
    left: 446px;
    top: 94px;
}

.linkedin:hover {
    cursor: url(cursors/lileft.png), auto;
}

.email {
    border: transparent;
    background-color: transparent;
    position: absolute;
    left: 120px;
    top: 45px;
}

.email:hover {
    cursor: url(cursors/email.png), auto;
}

.erincate {
    border: transparent;
    background-color: transparent;
    position: absolute;
    left: -4px;
    bottom: 4px;
}

.resume:hover {
    cursor: url(cursors/resume.png), auto;
}

.resume {
    border: transparent;
    background-color: transparent;
    position: absolute;
    left: 667px;
    bottom: 448px;
    cursor: auto;
}

.racing {
    border: transparent;
    background-color: transparent;
    position: absolute;
    right: -4px;
    bottom: 391px;
}

.racing:hover {
    cursor: url(cursors/rmitmotorsport.png), auto;
}