html {
    background-image: url("https://cdn.discordapp.com/attachments/1010473329674694737/1011559279397978132/complete_scene.gif");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=70377);
    overflow: hidden;
}

.github {
    position: absolute;
    right: 0.3%;
    margin-top: -3%;
    padding-right: 9%;
    background-color: transparent;
    border: transparent;
    opacity: 0%;
}

.github:hover {
    cursor: pointer;
}

.linkedin {
    background-color: transparent;
    border: transparent;
    position: absolute;
    left: 23.1%;
    margin-top: 1.7%;
    opacity: 0%;
}

.linkedin:hover {
    cursor: pointer;
}

.racing {
    background-color: transparent;
    border: transparent;
    margin-top: 8.7%;
    position: absolute;
    right: -10px;
    opacity: 0%;
}

.racing:hover {
    cursor: pointer;
}

.email {
    background-color: transparent;
    border: transparent;
    float: right;
}

.email:hover {
    cursor: pointer;
}

.resume {
    background-color: transparent;
    opacity: 0%;
    border: transparent;
    position: absolute;
    bottom: -60px;
    left: -13px;
}

.resume:hover {
    cursor: pointer;
}