html {
    background-image: url('https://cdn.discordapp.com/attachments/509354761523298316/1010156109715230760/ERIN-PIXEL-PIECE-ANIMATIONx3.gif');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}