html {
    background-color: #991616 ;
}

h1 {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

.loom {
    width: 50%;
    transition: transform .2s;
}

.loom:hover {
    transform: scale(1.6);
}

.row {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}