html {
    background-color: black ;
}

h1 {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}

h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
}

ul {
    color: white;
    font-family: "Roboto", sans-serif;
    column-count: 2;
}

.rrevo {
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}

.rmitmotorsport {
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}

.rmitracing {
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    width: 800px;
    padding: 10px;
}

.textboxes {
    display: grid;
    place-items: center;
}


.loom {
    width: 50%;
    transition: transform .2s;
}

.loom:hover {
    transform: scale(1.6);
}

.row {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}