html {
    background-color: #991616 ;
}

h1 {
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

.loom {
    width: 50%;
    transition: transform .2s;
}

.loom:hover {
    transform: scale(1.6);
}

.imageCont {
    justify-content: center;
    align-items: center;
    display:flex;
}