body {
    background-color: #3c345c;
}

@font-face {
    font-family: "INVASION2000";
    src: url("https://github.com/erxncxte/erxncxte.github.io/INVASION2000.ttf");
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: "INVASION2000";
    font-weight: 300;
    margin-bottom: 40px;
}