body {
    background-color: #3c345c;
}

@font-face {
  font-family: "NeonSans";
  src: url("https://drive.google.com/file/d/1CNHasH-wd9T77dXu5CJRdEnqBefRy1HC/view?usp=sharing");
}

h1 {
    font-family: 'Rubik Glitch', cursive;
    font-size: 50px;
    color: #d1f7ff;
    text-align: center;
}

h2 {
  font-family: 'DotGothic16', sans-serif;
  font-size: 18px;
}